---
title: "Swiss Profile Verification"
toc: true
toc_sticky: true
excerpt: Specifications for OpenID4VP and JAR

---
